/* Custom Styles for CLC
**
* light bg/text: #efece6;
* tan bg: #d5d3c4; (navigation)
* text: #555;
* blue: #8badad;
* grey: #979797; (footer)
*/

h1{color:#8badad;}


body{
	background:#efece6;
	font-family:Roboto;
	color:#555;
}

a:link, a:visited{text-decoration:none; color:#b45b4a; transition: all .2s;}
a:hover, a:active{text-decoration:underline; color:#222; transition: all .2s;}



#masthead{
	background:#d5d3c4;
	color:#555;
	padding-top:30px;
	padding-bottom:30px;
	position:relative;
	overflow:hidden;
	font-size:1.25em;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
	#masthead a, #masthead a:visited{color:#555;}
	#masthead a:hover, #masthead a:active{color:#111;}
ul.header-nav{
	float:right;
	margin-top:1rem;
}

/* Home Styles */
.home .full-image{
	margin-bottom:0;
}

.home .entry-content{
	font-size:1.5rem;
	text-align: center;
	max-width:56rem;
	margin:1rem auto 0em;
}
.home article .row{
	padding:3em 0.625em;
	border-top:#fff 2px solid;
	border-bottom:#d5d3c4 2px solid;
}
.home h2{
	font-weight: 700;
	font-size:1.5em;
	position:relative;
	line-height: 1.6em;
    margin-bottom: .75em;
}
	.home h2:after{  
		content:""; 
	  	background: #555; 
	  	position: absolute; 
	  	bottom: 0; 
	  	left: 0; 
	  	height: 2px; 
	  	width: 2em;
	}
.box{
	background:#fff;
	border-radius:5px;
	padding:0 1.125em 1.5em;
	border:2px solid #bebebe;
	margin-bottom:1.5em;
}
.box h3{
	position: relative;
	line-height: 1.6em;
	margin-bottom:.75em;
	padding:1em 0;
	color:#8badad;
	font-size:1.125em;
	font-weight: 700;
}
.box h3 a:link, .box h3 a:visited{color:#8badad;}
.box h3 a:hover, .box h3 a:active{color:#444;}
	.box h3:after{
		content:"";
		background:#979797;
  		position: absolute; 
  		bottom: 0; 
  		left: 0; 
  		height: 2px; 
  		width: 2em;
	}
	.box img{
		width:calc(100% + 2.25em);
		max-width:calc(100% + 2.25em);
		margin:0 -1.125em;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}

@media screen and (max-width:40em){
	.home .entry-content{
		font-size:1.2rem;
	}
}
/* End Home Styles */

.full-image{
	position:relative;
	max-height:425px;
	overflow:hidden;
	margin-bottom:3em;
}
.full-image img{
   	width: 100%;
   	height:100%;
   	position:relative;
}

/* Inside Styles */
#content .full-image h1{
	position: absolute;
    color: #fff;
    z-index: 3;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size:4em;
    font-weight: bold;
    letter-spacing: 5px;
	top: 50%;
	transform: translateY(-170%);
}
.blog #content .full-image h1{transform: translateY(-100%);}
@media screen and (max-width:60em){
	#content .full-image h1{
		font-size:3em;
	}
}
@media screen and (max-width:40em){
	#content .full-image h1{
		font-size:2em;
	}
	.full-image{margin-bottom:1em;}
}
@media screen and (max-width:30em){
	#content .full-image h1{font-size:1em;}
}

/************
PAGE
************/
.page h1{font-weight: bold; margin-top:2em;}
.page #content img{box-shadow:1px 1px 3px 0px rgba(0,0,0,0.3)}

.page .staff{margin-bottom:1.5em;} /*Spacing for staff members*/

/************
BLOG
***********/
body.blog h2.entry-title {
	color:#444;
	font-size:1.2em;
	font-weight:bold;
}
h2.widget-title {
	font-size:1.4em;
	font-weight:bold;
}
body.blog h2.entry-title:after
{
    content:' ';
    display:block;
    border:1px solid black;
    width:2em;
    margin-top:.5em;
}
body.blog h2.entry-title a:link, body.blog h2.entry-title a:visited{color:#444; transition: all .2s;}
body.blog h2.entry-title a:hover, body.blog h2.entry-title a:active{color:#000; transition: all .2s;}

body.blog article{
	padding:2em 0;
	margin:0;
	border-bottom:1px solid #dedcdc;
	border-top:1px solid #fff;
}
body.blog #main > .row:first-of-type article{border-top:0; padding-top:0;}

.more-link{
	display:block;
	float:right;
	margin:2em 0 1em;
}
	/*************
	BLOG SINGLE
	*************/
	body.single #secondary{margin-top:1.5em;} /*line up with single page title*/

/************
FOOTER
************/
footer#colophon{
	background:#979797;
	min-height: 14rem;
	color:#d5d5d5;
	padding-top:2em;
	box-shadow: 0px 500px 0px 500px #979797;
}
	footer#colophon a:link, footer#colophon a:visited{color:#d5d5d5;}
	footer#colophon a:hover, footer#colophon a:active{color:#fff;}
ul.footer-nav{
	float:right;
	margin-top:2rem;
}
@media screen and (max-width: 40em){
	footer#colophon{
		text-align:center;
	}
	ul.footer-nav{
		display:inline-block;
		float:none;
	}
}

/* GLOBAL STYLES */
.btn{
	background:#8badad;
	color:#efece6;
	border-radius:3px;
	font-size:1.5rem;
	padding:.5em 1.3em;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	transition: all .2s;
}
a.btn, a.btn:visited{color:#efece6;}
a.btn:hover, a.btn:active{color:#fff;}
	.btn:hover{
		opacity:.8;
		box-shadow: none; 
		transition: all .2s;
		color:#fff;
	}

#map{
	width:100%;
	height:28rem;
}

/*Menu*/

button.menu-icon {
	border: 0;
	background:none;
	box-shadow:none;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow:none;}
button.menu-icon:hover{
	border:0;
	box-shadow:none;}
button.menu-icon:focus, button.menu-icon:active {
	border:0;
	box-shadow:none;}

/*menu-icon*/
.title-bar {
  background:none;
  color:#8badad;
  padding:1rem;
}
.title-bar .menu-icon{margin-bottom:.71em;}
.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 42px;
  height: 33px; }
  .menu-icon::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 7px;
    background: #8badad;
    top: 0;
    left: 0;
    box-shadow: 0 15px 0 #8badad, 0 30px 0 #8badad; }
  .menu-icon:hover::after {
    background: #444;
    box-shadow: 0 15px 0 #444, 0 30px 0 #444; }
/*Mobile menu*/
#mobile-menu > ul.menu{margin-bottom:-30px;} /*get rid of masthead padding*/
#mobile-menu{width:100%; text-align:center;} 
#mobile-menu a:hover{text-decoration:none; cursor:pointer;}
	#mobile-menu > ul > li:first-child a{padding-top:4.5em;}
	#mobile-menu > ul > li{border-bottom:1px solid #d5d3c4;}
	#mobile-menu > ul > li:hover{border-bottom:1px solid #8badad;}
